<!DOCTYPE html>
<html>
<head>
    <title>My First Bootstrap</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" initial-sclae="1" />
    <link rel="stylesheet" href="../Content/bootstrap.min.css" />
    <script src="../scripts/jquery-1.9.1.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <link href="../Style.css" rel="stylesheet" />
    <script src="../Main.js"></script>
</head>
<body>
    <!----------------- NAVBAR ------------>
    <nav>
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Training BootStrap</a>
            </div>
            <ul class="nav nav-tabs navbar-nav navbar-right">
                <li role="presentation" ><a href="../index.html">Home</a></li>
                <li role="presentation" class="active"><a href="#">Profile</a></li>
                <li role="presentation"><a href="Contact_Page.html">Messages</a></li>
            </ul>
        </div>
    </nav>
    <!------------------ END NAVBAR --------------->
    <!-- -------------Content Profile--------------------- -->
    <div class="container-fluid">         
        <div class="row">
            <div class="col-xs-4 col-md-4">
                <p id="nama">Riku Kiranatama</p>
                <div id="pp"><img src="../img/minion.jpg" class="img-circle" alt="profile" width="186" height="186" /></div>
            </div>
            <div class="col-xs-8 col-md-8">
                <div class="row">
                    <table class="table table-striped table-responsive">
                        <tr>
                            <td>Nama</td>
                            <td>Riku Kiratama</td>
                        </tr>
                        <tr>
                            <td>Tempat, Tanggal Lahir</td>
                            <td>Bandung, 7 Oktober 1989</td>
                        </tr>
                        <tr>
                            <td>Jenis Kelamin</td>
                            <td>Pria</td>
                        </tr>
                        <tr>
                            <td>Alamat Domisili</td>
                            <td>Jl. Soekarno Hatta no 104</td>
                        </tr>
                    </table>
                 </div>
            </div>
        </div>
    </div>
    <!-- -------------Content Profile--------------------- -->
</body>
</html>
