.cssMain {
    margin: auto;
    width: 100%;
    height: 400px;
    background-color: blue;
    color: red;
}

nav{
    background-color: deepskyblue;
}

#pp{
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}

#nama{
    width: 100px;
    font-family: Arial, sans-serif;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

.row {
    margin: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    position: relative;
}

#col {
    background-color: lightgray;
    height: 100%;
}